/* body {
    background-image: url(./skok.webp);
    background-size:300px;
  background-attachment: fixed;
  
   
} */

body {
    background-image: url(./selo.webp);
    background-position:center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}