.cover {
    margin: 0 auto;
    background-color: #fff;
    width: 960px;
}
img {
    width: 100%;
}
.navigation {

    background-color: rgb(186, 26, 26);
 
    width: 960px;
    height: 30px;
    margin-bottom: 2px;
    float: right;
    margin-top: 5px;
    font-size: 20px;
}
.navigation a {
    float: right;
    color: #fff;
    margin-right: 15px;
    padding-top: 3px;
    text-decoration: none;
}


.bilbord {
    margin: 0 auto;
 
}
.bilbord img{
    height: 400px;
 
}



#div {
    width: 300px;
    height: 500px;
    margin-right: 20px;
    float: right;
}
p {
    text-align:justify;
}
#manjiDiv {
    width: 300px;
    height: 200px;
    margin-top: 10px ;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkovi {
    background-color: rgb(245, 242, 69);
    width: 300px;
    height: 250px;
    padding: 10px;
   

}
.linkovi a{
    text-decoration: none;
    color: black;
}
.footer {
    background-color: rgb(24, 12, 154);
    color: #fff;
    width: 100%;
    height: 40px;
    float: right;


}
.footer p {
    text-align: center;
    position: relative;
    text-align: center;
    right: 430px;


}