<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="zindex.css">
    <title>Document</title>
</head>
<body>
    <div >
        <div class="divPrvi"></div>
        <div class="divDrugi"></div>
        <div class="divTreci"></div>
        <hr>
        <div class="divCetvrti"></div>
        <div class="divPeti"></div>
        <div class="divSesti"></div>
        <hr>
        <div class="divSedmi"></div>
        <div class="divOsmi"></div>
        <div class="divDeveti"></div>
    </div>
</body>
</html> 